:root {
  --crust: oklch(0.183 0.02 284.204);
  --mantle: oklch(0.216 0.025 284.065);
  --base: oklch(0.243 0.03 283.911);
  --surface-0: oklch(0.324 0.032 281.978);
  --surface-1: oklch(0.404 0.032 280.152);
  --surface-2: oklch(0.477 0.034 278.643);
  --overlay-0: oklch(0.55 0.034 277.095);
  --overlay-1: oklch(0.618 0.037 276.005);
  --overlay-2: oklch(0.687 0.037 274.725);
  --subtext-0: oklch(0.751 0.04 273.932);
  --subtext-1: oklch(0.817 0.04 272.862);
  --text: oklch(0.879 0.043 272.277);
  --lavender: oklch(0.817 0.091 277.309);
  --blue: oklch(0.766 0.111 259.885);
  --saphire: oklch(0.791 0.096 228.653);
  --sky: oklch(0.847 0.083 210.255);
  --teal: oklch(0.858 0.079 182.75);
  --green: oklch(0.858 0.109 142.715);
  --yellow: oklch(0.919 0.07 86.528);
  --peach: oklch(0.824 0.101 52.629);
  --maroon: oklch(0.782 0.09 8.848);
  --red: oklch(0.756 0.13 2.764);
  --mauve: oklch(0.787 0.119 304.769);
  --pink: oklch(0.787 0.119 304.769);
  --flamingo: oklch(0.88 0.042 17.975);
  --rosewater: oklch(0.923 0.024 30.492);
  --success-background: oklch(85.8% 0.109 142.8 / 15%);
  --info-background: oklch(84.3% 0.099 173.5 / 15%);
  --warning-background: oklch(91.5% 0.103 85.6 / 15%);
  --error-background: oklch(74.7% 0.144 5.2 / 15%);
  --offline-background: oklch(72.4% 0.048 278.2 / 15%);
  --header-logo: var(--mauve);
}

[data-theme='light'] {
  --crust: oklch(0.906 0.012 264.507);
  --mantle: oklch(0.933 0.009 264.521);
  --base: oklch(0.958 0.006 264.532);
  --surface-0: oklch(0.857 0.014 268.476);
  --surface-1: oklch(0.808 0.017 271.198);
  --surface-2: oklch(0.758 0.02 273.154);
  --overlay-0: oklch(0.708 0.024 274.601);
  --overlay-1: oklch(0.654 0.027 278.121);
  --overlay-2: oklch(0.601 0.03 278.694);
  --subtext-0: oklch(0.547 0.034 279.084);
  --subtext-1: oklch(0.492 0.038 279.299);
  --text: oklch(0.435 0.043 279.325);
  --lavender: oklch(0.664 0.175 273.135);
  --blue: oklch(0.559 0.226 262.087);
  --saphire: oklch(0.648 0.107 212.889);
  --sky: oklch(0.682 0.145 235.382);
  --teal: oklch(0.602 0.098 201.105);
  --green: oklch(0.625 0.177 140.445);
  --yellow: oklch(0.714 0.149 67.777);
  --peach: oklch(0.692 0.204 42.429);
  --maroon: oklch(0.625 0.197 20.272);
  --red: oklch(0.55 0.216 19.809);
  --mauve: oklch(0.555 0.25 297.016);
  --pink: oklch(0.726 0.174 338.433);
  --flamingo: oklch(0.686 0.126 20.867);
  --rosewater: oklch(0.714 0.105 33.097);
  --success-background: oklch(85.8% 0.109 142.8 / 15%);
  --info-background: oklch(84.3% 0.099 173.5 / 15%);
  --warning-background: oklch(91.5% 0.103 85.6 / 15%);
  --error-background: oklch(74.7% 0.144 5.2 / 15%);
  --offline-background: oklch(72.4% 0.048 278.2 / 15%);
  --header-logo: var(--mauve);
}
